In [2]:
# Day Objectives
## Markdown Syntax
### Python Basics

**kjuijiu**

*dhndh*

* text

>1.fchgfhj

>2hkuyhukfj

>2.hjkggjfhg

## Python Basics

In [8]:
import sys
print(sys.version)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]

## print hello world

In [9]:
print("Hello World")

Hello World

In [10]:
print("kvsw raji")

kvsw raji

In [11]:
print("kvsw")
print("raji")

kvsw
raji

## Data Types in Python
* Int
* Float
* String
* Complex
* List
* Tuples
* Set

In [16]:
r=5
print(r)

5

In [17]:
type(r)

int

In [18]:
g=6
print(g)

6

In [19]:
g=ygju
type("ygju")

str

In [20]:
g=0.988
type(0.988)

float

In [21]:
g=6+7J
type(g)

complex

In [22]:
g

(6+7j)

# Data Type Conversion

In [25]:
s=str(g)
s

'(6+7j)'

In [26]:
e=5
type(e)

int

In [37]:
f=float(e)
f
type(f)

float

# Variable Assigning
>1.Different data types can be assigned as different variables
>2.Same data types can be assigned to a different variables

In [41]:
x,y,z=23,"hii",33.2
print(x,y,z)
print(type(x))
print(type(y))
print(type(z))
print(type(x),type(y),type(z))

23 hii 33.2
<class 'int'>
<class 'str'>
<class 'float'>
<class 'int'> <class 'str'> <class 'float'>

In [44]:
a=b=c="kvsw"
print(a)
print(b)

kvsw
kvsw

## Arithimetic and Logical Operators in python

In [49]:
a=22
b=55
print("addition",a+b)
print("subtraction",a-b)
print("division",a/b)
print("multiplication",a*b)
print("floor division",a//b)
print("power",a**2)

addition 77
subtraction -33
division 0.4
multiplication 1210
floor division 0
power 484

# Comments in python

In [ ]:
''''ghjhjcfdgfb.kvcfgjdxsxd
ghdhgbgjfvegrvc
nbxvcxnvbcxfavdcvghccd bnv
cdbhxcgxdf xcfgcx''''