In [50]:
import pandas as pd
p=pd.Period(2007,freq='A-MAY')
p

Period('2007', 'A-MAY')

In [51]:
p+2

Period('2009', 'A-MAY')

In [52]:
p-2

Period('2005', 'A-MAY')

In [53]:
p=pd.Period(2007-3,freq='A-MAY')
p

Period('2004', 'A-MAY')

In [54]:
p=pd.Period(2007,freq='A-MAY')+3
p

Period('2010', 'A-MAY')

In [55]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [56]:
rng=pd.period_range('2000-01-01','2000-06-30',freq='D')
rng

PeriodIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
             '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
             '2000-01-09', '2000-01-10',
             ...
             '2000-06-21', '2000-06-22', '2000-06-23', '2000-06-24',
             '2000-06-25', '2000-06-26', '2000-06-27', '2000-06-28',
             '2000-06-29', '2000-06-30'],
            dtype='period[D]', length=182, freq='D')

In [57]:
index=pd.date_range('1/1/2000',periods=4,freq='T')
v=pd.Series([0.0,None,2.0,3.0],index=index)
df=pd.DataFrame({'s':v})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [58]:
df.asfreq(freq='30s')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:30  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:30  NaN
2000-01-01 00:03:00  3.0

In [59]:
p

Period('2010', 'A-MAY')

In [60]:
p.asfreq('D',how='start')

Period('2009-06-01', 'D')

In [61]:
p.asfreq('D',how='end')

Period('2010-05-31', 'D')

In [62]:
df.asfreq('T',how='start')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [63]:
df.asfreq('T',how='end')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [64]:
r=pd.date_range('2006','2009',freq='A-DEC')
r

DatetimeIndex(['2006-12-31', '2007-12-31', '2008-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [65]:
import numpy as np
ts=pd.Series(np.random.randn(len(r)),index=r)
ts

2006-12-31   -0.149733
2007-12-31   -0.887660
2008-12-31    1.880335
Freq: A-DEC, dtype: float64

In [66]:
print(ts.asfreq('m',how='start'))

2006-12-31   -0.149733
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31   -0.887660
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    1.880335
Freq: M, dtype: float64

In [67]:
print(ts.asfreq('m',how='end'))

2006-12-31   -0.149733
2007-01-31         NaN
2007-02-28         NaN
2007-03-31         NaN
2007-04-30         NaN
2007-05-31         NaN
2007-06-30         NaN
2007-07-31         NaN
2007-08-31         NaN
2007-09-30         NaN
2007-10-31         NaN
2007-11-30         NaN
2007-12-31   -0.887660
2008-01-31         NaN
2008-02-29         NaN
2008-03-31         NaN
2008-04-30         NaN
2008-05-31         NaN
2008-06-30         NaN
2008-07-31         NaN
2008-08-31         NaN
2008-09-30         NaN
2008-10-31         NaN
2008-11-30         NaN
2008-12-31    1.880335
Freq: M, dtype: float64

In [69]:
k=pd.Period('2012Q4',freq='M')
k

Period('2012-10', 'M')

In [70]:
r=pd.period_range('2011Q3','2012Q4',freq='Q-JAN')
r

PeriodIndex(['2011Q3', '2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4'], dtype='period[Q-JAN]', freq='Q-JAN')

In [72]:
ts=pd.Series(np.arange(len(r)),index=r)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32